<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="WBFS_MANAGER.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
        <section name="WBFS_MANAGER.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <WBFS_MANAGER.Properties.Settings>
            <setting name="FileFolderPaths" serializeAs="String">
                <value>&lt;path&gt;C:\utorrent&lt;/path&gt;&lt;path&gt;W:\utorrent&lt;/path&gt;&lt;path&gt;X:\utorrent&lt;/path&gt;</value>
            </setting>
            <setting name="FileFolderGridViewColumnOrdering" serializeAs="String">
                <value>0/1/2/3/4/5/6/7/8/9/10/11/12/13/14/15/16</value>
            </setting>
        </WBFS_MANAGER.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <WBFS_MANAGER.Properties.Settings>
            <setting name="FileFolderGridViewColumnVisibility" serializeAs="String">
                <value>1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1</value>
            </setting>
        </WBFS_MANAGER.Properties.Settings>
    </userSettings>
</configuration>
